.section1,
.section2{
  /*レイアウト用のCSS*/
  padding: 50px;
}
.section1{
  position: relative;
 
  /*レイアウト用のCSS*/
  background-color: pink;
}
.section1::before{
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
 
  /*ここで三角形のサイズを決める。
  必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 0 0 100px 100vw ;
 
  border-color: transparent transparent #fff transparent;
}